
<carousel [(activeSlide)]="activeSlideIndex" [showIndicators]='false' [interval]="interval" class="mt-1 fixed-bottom"  >
    <slide *ngFor="let hotspot of hotspots">
        <div class="row mt-7">
            <div class="col-md-12 p-1 shadow" id="hotspot-section">
                <h4 class="text-center"><span id="follow-count">{{hotspot.follow_count}}</span> people are following</h4>
                <h1 class="text-center" id="dest-title">{{hotspot.destination}}</h1>
                <h4 class="text-center">Join them today!</h4>
            </div>
        </div>
    </slide>
</carousel>

